* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section:nth-child(even) {
  background-color: #f9f9f9;
}

header {
  background: linear-gradient(to bottom, #090a1185, #000000),
    url('/public/images/bh.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}